<div id="<%= dom_id(task) %>" class="kanban-item" data-task-id="<%= task.id %>" data-campaign-id="<%= task.campaign.id %>">
  <%= link_to edit_campaign_task_path(task.campaign, task), 
    class: "kanban-item",
    data: { 
      task_id: task.id,
      campaign_id: task.campaign.id,
      turbo_frame: "task-edit-modal" 
    } do %>
    <%= task.description %>
  <% end %>
</div>
<%#= link_to :Edit, edit_campaign_task_path(@campaign, task) %>
<%#= button_to :Delete, [@campaign, task], method: :delete, data: { turbo_confirm: t('form.confirmation') } %>
