<tr id="<%= dom_id task %>">
  <td>
    <%= link_to task.due_on, [@campaign, task] %>
  </td>
  <td>
    <%= task.status.titleize %>
  </td>
  <td>
    <%= task.description %>
  </td>
  <td>
    <%= link_to :Edit, edit_campaign_task_path(@campaign, task) %>
    <%= button_to :Delete, [@campaign, task], method: :delete, data: { turbo_confirm: t('form.confirmation') } %>
  </td>
</tr>