<div id="<%= dom_id(task) %>" 
     class="kanban-item" 
     data-task-id="<%= task.id %>" 
     data-campaign-id="<%= task.campaign.id %>"
     draggable="true"
     role="article">
  <%= link_to edit_campaign_task_path(task.campaign, task), 
      class: "kanban-item-content",
      data: { 
        task_id: task.id,
        campaign_id: task.campaign.id,
        turbo_frame: "task-edit-modal" 
      } do %>
    <div class="task-description">
      <%= task.description %>
    </div>
  <% end %>
</div>
