<div id="<%= dom_id task %>">
  <p>
    <strong>User:</strong>
    <%= task.user_id %>
  </p>

  <p>
    <strong>Campaign:</strong>
    <%= task.campaign_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= task.status %>
  </p>

  <p>
    <strong>Due on:</strong>
    <%= task.due_on %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= task.kind %>
  </p>

</div>
