<p style="color: green"><%= notice %></p>

<header class="header-container">
  <h1 class="header">Edit Task for <%= @campaign.name %></h1>
  <div class="actions">
    <%= link_to :Campaign, @campaign %>
    <%= link_to :Edit, edit_campaign_task_path(@campaign, @task) %> |
    <%= button_to :Delete, [@campaign, @task], method: :delete, data: { turbo_confirm: t('form.confirmation') } %>
  </div>
</header>

<main class="content-wrapper">
  <div class="content-row">
    <div class="data-section">
      <div class="label">Due On</div>
      <div class="value">
        <%= @task.due_on %>
      </div>
    </div>

    <div class="data-section">
      <div class="label">Status</div>
      <div class="value">
        <%= @task.status.titleize %>
      </div>
    </div>

    <div class="data-section">
      <div class="label">Kind</div>
      <div class="value">
        <%= @task.kind %>
      </div>
    </div>
  </div>

  <div class="content-row">
    <div class="data-section">
      <div class="label">Description</div>
      <div class="value">
        <%= @task.description %>
      </div>
    </div>
  </div>

  <div class="content-row">
    <div class="data-section">
      <div class="label">Details</div>
      <div class="value">
        <%= @task.details %>
      </div>
    </div>
  </div>
</main>