<tr id="<%= dom_id campaign %>" class="table-row">
  <td class="campaign-name">
    <%= link_to campaign.name, campaign %>
  </td>

  <td>
    <span class="status-badge status-<%= campaign.status.downcase %>">
      <%= campaign.status %>
    </span>
  </td>

  <td class="campaign-rate">
    <%= number_to_currency(campaign.rate) %>
  </td>

  <td class="campaign-date">
    <%= campaign.created_at.strftime("%b %d, %Y") %>
  </td>
</tr>
