<div id="<%= dom_id campaign %>">
  <p>
    <strong>User:</strong>
    <%= campaign.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= campaign.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= campaign.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= campaign.status %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= campaign.rate %>
  </p>

  <p>
    <strong>Engagement rate:</strong>
    <%= campaign.engagement_rate %>
  </p>

  <p>
    <strong>Reach:</strong>
    <%= campaign.reach %>
  </p>

  <p>
    <strong>Clicks:</strong>
    <%= campaign.clicks %>
  </p>

</div>
