<tr id="<%= dom_id campaign %>">
  <td>
    <%= link_to campaign.name, campaign %>
  </td>

  <td>
    <%= campaign.status %>
  </td>

  <td>
    <%= campaign.rate %>
  </td>

  <td>
    <%= campaign.created_at %>
  </td>
  <td class="table-actions">
    <%= link_to "Edit", edit_campaign_path(campaign) %>
    <%= button_to "Delete", campaign, method: :delete, data: { confirm: "Are you sure?" } %>
  </td>
</tr>
