  <fieldset class="content-row">
    <div class="data-section">
      <%= form.label :status, class: :label %>
      <%= form.select :status,{ 
        Draft: :draft,
        Active: :active,
        Complete: :complete
        }, {}, class: :input  %>
    </div>
  </fieldset>
  
  <fieldset class="content-row">
    <div class="data-section">
      <%= form.label :name, class: :label %>
      <%= form.text_field :name, class: :input %>
    </div>
  </fieldset>

  <fieldset class="content-row">
    <div class="data-section">
      <%= form.label :description, class: :label %>
      <%= form.text_field :description, class: :input %>
    </div>
  </fieldset>

  <fieldset class="content-row">
    <div class="data-section">
      <%= form.label :rate, class: :label %>
      <%= form.text_field :rate, class: :input %>
    </div>
  </fieldset>