<% content_for :title, "Editing campaign" %>

<header class="header-container">
  <h1 class="header">Editing campaign</h1>
  <div class="actions">
    <%= link_to "View", @campaign %> |
    <%= link_to "Campaigns", campaigns_path %>
    <%= button_to :Delete, @campaign, method: :delete, data: { turbo_confirm: t('form.confirmation') } %>
  </div>
</header>

<main class="container">
  <% if @campaign.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
        <% @campaign.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: @campaign) do |form| %>
    <%= render "new_form_fields", form: form %>

    <fieldset class="content-row">
      <div class="data-section">
        <%= form.label :engagement_rate, class: :label %>
        <%= form.text_field :engagement_rate, class: :input %>
      </div>
    </fieldset>

    <fieldset class="content-row">
      <div class="data-section">
        <%= form.label :reach, class: :label %>
        <%= form.text_field :reach, class: :input %>
      </div>
    </fieldset>

    <fieldset class="content-row">
      <div class="data-section">
        <%= form.label :clicks, class: :label %>
        <%= form.text_field :clicks, class: :input %>
      </div>
    </fieldset>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</main>
