<tr id="<%= dom_id organization %>">
  <td headers="name-header">
    <%= link_to organization.name, organization, aria: { label: "View details for #{organization.name}" } %>
  </td>
  <td headers="location-header">
    <%= organization.city %>, <%= organization.state %>
  </td>
  <td headers="phone-header">
    <%= phone_to organization.phone, organization.phone %>
  </td>
  <td headers="created-header">
    <%= organization.created_at.iso8601 %>
  </td>
</tr>