<% content_for :title, @organization.name %>

<main class="page-container">
  <header class="page-header">
    <h1><%= @organization.name %></h1>
    
    <div class="subheader">
      <div class="organization-status">
        <span class="badge <%= @organization.active? ? 'badge-enabled' : 'badge-disabled' %>">
          <%= @organization.active? ? 'Active' : 'Inactive' %>
        </span>
      </div>

      <nav class="nav-links">
        <ul class="links">
          <li class="nav-item"><%= link_to :Listing, organizations_path %></li>
          <li class="nav-item"><%= link_to :Edit, edit_organization_path(@organization) %></li>
          <li class="nav-item"><%= button_to :Delete, @organization, class: :link, data: { turbo_confirm: t('form.confirmation') }, method: :delete %></li>
        </ul>
      </nav>
    </div>
    
  </header>

  <section class="organization-details">
    <div class="organization-contact">
      <h2>Contact Information</h2>
      <address>
        <strong>Address:</strong>
        <div class="address-line"><%= @organization.address %></div>
        <% if @organization.address2.present? %>
          <div class="address-line"><%= @organization.address2 %></div>
        <% end %>
        <div class="address-line">
          <%= @organization.city %> <%= ", #{@organization.state}" if @organization.state.present? %> <%= @organization.zipcode %>
        </div>
        <div class="phone">
          <strong>Phone:</strong>
          <a href="tel:<%= @organization.phone %>">
            <%= number_to_phone(@organization.phone, area_code: true) %>
          </a>
        </div>
      </address>
    </div>

    <div class="organization-metadata">
      <h2>Additional Information</h2>
      <dl>
        <div class="metadata-item">
          <dt>Created</dt>
          <dd><time datetime="<%= @organization.created_at.iso8601 %>">
            <%= l(@organization.created_at, format: :long) %>
          </time></dd>
        </div>
        <div class="metadata-item">
          <dt>Last Updated</dt>
          <dd><time datetime="<%= @organization.updated_at.iso8601 %>">
            <%= l(@organization.updated_at, format: :long) %>
          </time></dd>
        </div>
      </dl>
    </div>
  </section>

  <section class="contacts-list">
    <header class="page-header">
      <h2>Contacts</h2>
      <div class="subheader">
        <p>Manage contacts.</p>
        <span class="nav-links">
          <ul class="links">
            <%= link_to "Add Contact", new_organization_contact_path(@organization), class: "link-item" %>
          </ul>
        </span>
      </div>
    </header>

    <div class="table-responsive">
      <table class="table" id="contacts">
        <thead>
          <tr>
            <th id="name-header" scope="col">Name</th>
            <th id="email-header"  scope="col">Email</th>
            <th id="phone-header"  scope="col">Phone</th>
          </tr>
        </thead>
        <tbody>
          <%= render @organization.contacts %>
        </tbody>
      </table>
    </div>
  </section>
</main>