<% content_for :title, @organization.name %>

<main class="page-container">
  <header class="page-header">
    <h1><%= @organization.name %></h1>
    
    <div class="organization-status">
      <span class="badge <%= @organization.active? ? 'badge-enabled' : 'badge-disabled' %>">
        <%= @organization.active? ? 'Active' : 'Inactive' %>
      </span>
    </div>
  </header>

  <section class="organization-details">
    <div class="organization-contact">
      <h2>Contact Information</h2>
      <address>
        <div class="address-line"><%= @organization.address %></div>
        <% if @organization.address2.present? %>
          <div class="address-line"><%= @organization.address2 %></div>
        <% end %>
        <div class="address-line">
          <%= @organization.city %> <%= ", #{@organization.state}" if @organization.state.present? %> <%= @organization.zipcode %>
        </div>
        <div class="phone">
          <a href="tel:<%= @organization.phone %>">
            <%= number_to_phone(@organization.phone, area_code: true) %>
          </a>
        </div>
      </address>
    </div>

    <div class="organization-metadata">
      <h2>Additional Information</h2>
      <dl>
        <div class="metadata-item">
          <dt>Created</dt>
          <dd><time datetime="<%= @organization.created_at.iso8601 %>">
            <%= l(@organization.created_at, format: :long) %>
          </time></dd>
        </div>
        <div class="metadata-item">
          <dt>Last Updated</dt>
          <dd><time datetime="<%= @organization.updated_at.iso8601 %>">
            <%= l(@organization.updated_at, format: :long) %>
          </time></dd>
        </div>
      </dl>
    </div>
  </section>

  <div class="actions">
    <%= link_to :Listing, organizations_path, class: :primary %>
    <%= link_to :Edit, edit_organization_path(@organization), class: :primary %>
    <%= button_to :Delete, @organization, class: :secondary, data: { turbo_confirm: t('form.confirmation') }, method: :delete %>
  </div>
</main>